body, html {
  font-family: 'Kiwi Maru', sans-serif;
}

.container {
  height: 100%;
  position: relative;
  width: 100%;
}

#pcCanvas, #spCanvas {
  background-color: #91b493;
  display: block;
  margin: 0 auto;
  opacity: .2;
}

@media screen and (max-width: 767px) {
  #pcCanvas, #spCanvas {
    display: none;
  }
}

#spCanvas {
  background-color: #91b493;
  display: none;
  margin: 0 auto;
  opacity: .2;
}

@media screen and (max-width: 767px) {
  #spCanvas {
    display: block;
    height: 60vh;
    width: 100%;
  }
}

button {
  border-radius: 5px;
  background-color: #08b7c4;
  color: #fff;
  display: block;
  padding: 8px 0;
  text-align: center;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  width: 100px;
}

button:hover {
  opacity: .8;
}

.gameInfo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 50%;
  margin: 16px auto 0;
  padding: 16px 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 400px;
}

@media screen and (max-width: 767px) {
  .gameInfo {
    width: 90%;
  }
}

.gameInfo.is-hide {
  display: none;
}

.howToPlay {
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}

.gameInfo_button {
  margin: 16px 0 0 0;
}

.score {
  color: #333333;
  margin-left: 12px;
  font-size: 20px;
}

#startButton {
  display: inline-block;
}

.ranking {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 4px 4px rgba(105, 105, 105, 0.7);
          box-shadow: 0 0 4px 4px rgba(105, 105, 105, 0.7);
  left: 50%;
  display: none;
  padding: 16px 24px;
  position: absolute;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
}

@media screen and (max-width: 767px) {
  .ranking {
    width: 90%;
  }
}

.ranking.is-show {
  display: block;
}

.ranking_body {
  color: #333;
  padding: 16px 0 0 0;
  width: 100%;
}

.ranking_title {
  color: #333;
  font-size: 20px;
  text-align: center;
}

.rank_text {
  font-size: 18px;
  padding: 8px 0;
}

.badge {
  color: #fff;
  border-radius: 15px;
  display: inline-block;
  height: 30px;
  line-height: 1.8;
  margin-right: 16px;
  text-align: center;
  width: 30px;
}

.rank1 {
  background-color: #c7b469;
}

.rank2 {
  background-color: #a5b9bc;
}

.rank3 {
  background-color: #c6926a;
}

.rank4 {
  background-color: #cccccc;
}

.rank5 {
  background-color: #cccccc;
}

.ranking_score {
  display: inline-block;
  text-align: right;
  width: 50px;
}

.ranking_name {
  padding-left: 16px;
}

#form {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 4px 4px rgba(105, 105, 105, 0.7);
          box-shadow: 0 0 4px 4px rgba(105, 105, 105, 0.7);
  left: 50%;
  display: none;
  padding: 16px 24px;
  position: absolute;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
}

@media screen and (max-width: 767px) {
  #form {
    width: 90%;
  }
}

#form.is-show {
  display: block;
}

.form_title {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.form_text {
  font-size: 18px;
  margin-top: 12px;
}

.form_label {
  display: inline-block;
  margin: 16px 0 0 0;
}

.form_input {
  border: 1px solid #a4a4a4;
  border-radius: 5px;
  font-size: 16px;
  min-height: 24px;
  padding: 4px 8px;
  width: 280px;
}

.form_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 16px 0 0 0;
  width: 100%;
}

.button-cancel {
  background-color: transparent;
  border: 1px solid #888888;
  color: #888888;
  margin-right: 16px;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 4px 4px rgba(105, 105, 105, 0.7);
          box-shadow: 0 0 4px 4px rgba(105, 105, 105, 0.7);
  left: 50%;
  display: none;
  padding: 16px 24px;
  position: absolute;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
}

@media screen and (max-width: 767px) {
  .modal {
    width: 90%;
  }
}

.modal.is-show {
  display: block;
}

.modal_title {
  text-align: center;
  font-size: 24px;
}

.modal_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 32px 0 0 0;
}
/*# sourceMappingURL=style.css.map */