.container {
    height: 100%;
    position: relative;
    width: 100%;
}
#canvas {
    background-color: #91b493;
    display: block;
    margin: 0 auto;
    opacity: .5;
}
button {
    border-radius: 5px;
    background-color: #08b7c4;
    color: #fff;
    display: block;
    padding: 8px 0;
    text-align: center;
    transition: opacity .3s ease;
    width: 100px;
}
button:hover {
    opacity: .8;
}
.gameInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px auto 0;
    width: 1000px;
}
.score {
    color: #333333;
    margin-left: 12px;
    font-size: 20px;
}
#startButton {
    display: inline-block;
}
#restartButton {
    display: none;
    background-color: #fbc941;
}

.ranking {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px 4px rgba(105, 105, 105, .7);
    left: 50%;
    opacity: 0;
    padding: 16px 24px;
    position: absolute;
    top: 20%;
    transition: opacity .3s ease;
    transform: translateX(-50%);
    width: 400px;
}
.ranking.is-show {
    opacity: 1;
}
.ranking_body {
    color: #333;
    padding: 16px 0 0 0;
    width: 100%;
}
.ranking_title {
    color: #333;
    font-size: 20px;
    text-align: center;
}
.rank_text {
    font-size: 18px;
    padding: 8px 0;
}
.badge {
    color: #fff;
    border-radius: 15px;
    display: inline-block;
    height: 30px;
    line-height: 1.8;
    margin-right: 16px;
    text-align: center;
    width: 30px;
}
.rank1 {
    background-color: #c7b469;
}
.rank2 {
    background-color: #a5b9bc;
}
.rank3 {
    background-color: #c6926a;
}
.rank4 {
    background-color: #cccccc;
}
.rank5 {
    background-color: #cccccc;
}
